.button {
  width: 40%;
  margin: 2% 5% 2% 5%;
  height: 100px;
  border-radius: 5px;
  font-size: 1.6rem;
}

.timer {
  width: 90%;
  margin: 2% 5% 2% 5%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  color: white;
  border-radius: 5px;
  font-size: 2rem;
}

.switch {
  width: 90%;
}
