button {
  width: 40%;
  margin: 2% 5% 2% 5%;
  height: 100px;
  border-radius: 5px;
}
#timer {
  width: 90%;
  margin: 2% 5% 2% 5%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  color: white;
  border-radius: 5px;
}
#timer div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#buttonScreen {
  display: flex;
  flex-wrap: wrap;
}
