#topdate {
  width: 100%;
  text-align: center;
}
#topdate.p {
  margin: 0;
}
#timer div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#buttonScreen {
  display: flex;
  flex-wrap: wrap;
}
