.statsView {
  padding: 5px;
}

.statsContainer {
  display: flex;
  flex-direction: row;
}

.statsColumn {
  width: 50%;
  height: 60vh;
}

.category {
  margin: 1em;
  padding: 3px;
  background-color: grey;
}

.category h3 {
  margin: 0;
}
